* {
    text-align: center;
}

h1 {
    background-color: forestgreen;
    color: aliceblue;
    text-align: center;
    padding: 50px;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px; */
}

#newProduct {
    width: 100px;
}

#addNewHerb {
    text-decoration: underline;
}

/* 
div {
    display: inline-block;
} */

.herb-product {
    border: 1px solid black;
    display: inline-flex;
    width: 500px;
    padding: 20px;
}

#product1-p {
    overflow: hidden;
    overflow: scroll;
    text-overflow: ellipsis;
    height: 100px;
}

#pic1 {
    /* border: 2px solid red; */
    /* height: 300px; */
    margin-right: 10px;
}

#product2-p{
    overflow: hidden;
    overflow: scroll;
    text-overflow: ellipsis;
    height: 100px;
}

#pic2 {
    margin-right: 10px;
    height: 200px;
    width: 200px;
}

.Product3 {
    border: 1px solid black;
    display: inline-flex;
    width: 500px;
    padding: 20px;
}

#product3-p {
    overflow: hidden;
    overflow: scroll;
    text-overflow: ellipsis;
    height: 100px;
}

#pic3 {
    margin-right: 10px;
    height: 200px;
    width: 200px;
}