* {
    text-align: center;
}

h1 {
    background-color: forestgreen;
    color: aliceblue;
    text-align: center;
    padding: 50px;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
}

#newProduct {
    width: 100px;
}

#addNewHerb {
    text-decoration: underline;
}

/* 
div {
    display: inline-block;
} */

.Product1 {
    border: 1px solid black;
    display: inline-flex;
    width: 500px;
    padding: 20px;
}

.Product1 p {
    border: 1px solid red;
    border-radius: 25px;
}

#product1-P {
    overflow: hidden;
    overflow: scroll;
    text-overflow: ellipsis;
    height: 100px;
}

#pic1 {
    /* border: 2px solid red; */
    /* height: 300px; */
    margin-right: 10px;
}

/* .product-info1 {
    columns: 1;
} */

.Product2 {
    display: inline-flex;
    width: 500px;
    padding: 20px;
}

.Product3 {
    margin-right: 10px;
    display: inline-flex;
}

#pic2 {
    margin-right: 10px;
    height: 200px;
    width: 200px;
}

#pic3 {
    margin-right: 10px;
    height: 200px;
    width: 200px;
}